#wm-overlay-root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2147483647;
  pointer-events: none;
}

.wm-mask-svg {
  width: 100%;
  height: 100%;
  display: block;
}
