#wm-overlay-root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  pointer-events: auto;
}

.wm-mask-svg {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: auto;
  cursor: default;
  user-select: none;
}
